<footer>
    <a href="http://github.com/adlpz/poorcode"><i class="fa fa-code-fork"></i> Fork this</a> &centerdot;
    <a href="{{ base_url }}/cache.php"><i class="fa fa-hdd-o"></i> Binary Cache</a> <br/>
    &copy; Adri&agrave; L&oacute;pez 2014
</footer>
<script type="text/javascript">
    var disqus_shortname = 'poorcode';
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
</body>
</html>