<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>
    <title>Poorcode</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ base_url }}/Static/style.css"/>
</head>
<body>
<header>
    <h1><a href="{{ base_url }}"><span class="mono">Poorcode</span></a></h1>

    <p>Adventures in missed goals, abandoned projects and questionable productivity.</p>

    <nav>
        <a href="http://twitter.com/adlpz"><i class="fa fa-github"></i> Twitter</a>
        <a href="http://github.com/adlpz"><i class="fa fa-twitter"></i> Github</a>
        <a href="http://prealfa.com"><i class="fa fa-user"> Me</i></a>
    </nav>
</header>