<article>
    <header>
        <h2><i class="fa fa-chevron-circle-right"></i> <a href="{{ base_url }}/post/{{ id }}">{{ title }}</a></h2>
    </header>
    <div class="content">
        {{ content }}
    </div>
    <footer>
        <i class="fa fa-clock-o"></i> {{ date }}<br/>
        <i class="fa fa-comment"></i> <a href="{{ base_url }}/post/{{ id }}#disqus_thread" data-disqus-identifier="{{ id }}">Comments</a> &centerdot;
        <i class="fa fa-twitter"></i> <a href="http://twitter.com/home?status=@adlpz%20{{ base_url }}/post/{{ id }}">Tweet</a>
    </footer>
</article>